a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
    border: 1;
    margin: 0;
    padding: 0;
    font-size: 100%
}
html,
body {
    height: 100%
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
    display: block
}
b,
strong {
    font-weight: bold
}
img {
    color: transparent;
    font-size: 0;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic
}
ol,
ul {
    list-style: none
}
li {
    display: list-item
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
th,
td,
caption {
    font-weight: normal;
    vertical-align: top;
    padding: 5px;
}
q {
    quotes: none
}
q:before,
q:after {
    content: '';
    content: none
}
sub,
sup,
small {
    font-size: 75%
}
sub,
sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline
}
sub {
    bottom: -0.25em
}
sup {
    top: -0.5em
}
svg {
    overflow: hidden
}
body {
    font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif
}
pre,
code {
    font-family: 'DejaVu Sans Mono', Menlo, Consolas, monospace
}
hr {
    border: 0 solid #ccc;
    border-top-width: 1px;
    clear: both;
    height: 0
}
h1 {
    font-size: 23px
}
h2 {
    font-size: 23px
}
h3 {
    font-size: 21px
}
h4 {
    font-size: 19px
}
h5 {
    font-size: 17px
}
h6 {
    font-size: 15px
}
ol {
    list-style: decimal
}
ul {
    list-style: disc
}
li {
    margin-right: 30px
}
/*p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset,figure{margin-bottom:20px}*/

*,
*:before,
*:after {
    box-sizing: border-box;
}
.clear {
    float: none;
    clear: both;
}
.clearfix:after {
    float: none;
    clear: both;
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
/*+----------------------------------------------------+*/
/*|	JQUERY BOXY										   |*/
/*+----------------------------------------------------+*/

.boxy-wrapper {
    position: absolute;
}
.boxy-wrapper.fixed {
    position: fixed;
}
.boxy-modal-blackout {
    position: absolute;
    background-color: black;
    left: 0;
    top: 0;
}
.boxy-wrapper {
    empty-cells: show;
}
.boxy-wrapper .top-left,
.boxy-wrapper .top-right,
.boxy-wrapper .bottom-right,
.boxy-wrapper .bottom-left {
    width: 10px;
    height: 10px;
    padding: 0
}
.boxy-wrapper .top-left {
    background: url('../images/boxy-nw.png');
}
.boxy-wrapper .top-right {
    background: url('../images/boxy-ne.png');
}
.boxy-wrapper .bottom-right {
    background: url('../images/boxy-se.png');
}
.boxy-wrapper .bottom-left {
    background: url('../images/boxy-sw.png');
}
.boxy-wrapper .top-left {
    #background: none;
    #filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='../images/boxy-nw.png');
}
.boxy-wrapper .top-right {
    #background: none;
    #filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='../images/boxy-ne.png');
}
.boxy-wrapper .bottom-right {
    #background: none;
    #filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='../images/boxy-se.png');
}
.boxy-wrapper .bottom-left {
    #background: none;
    #filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='../images/boxy-sw.png');
}
.boxy-wrapper .top,
.boxy-wrapper .bottom {
    height: 10px;
    background-color: #f69d9e;
    opacity: 0.6;
    filter: alpha(opacity=60);
    padding: 0
}
.boxy-wrapper .left,
.boxy-wrapper .right {
    width: 10px;
    background-color: #f69d9e;
    opacity: 0.6;
    filter: alpha(opacity=60);
    padding: 0
}
.boxy-wrapper .title-bar {
    background-color: #ef4896;
    padding: 6px;
    position: relative;
}
.boxy-wrapper .title-bar.dragging {
    cursor: move;
}
.boxy-wrapper .title-bar h2 {
    font-size: 12px;
    color: white;
    line-height: 1;
    margin: 0;
    padding: 0;
    font-weight: normal;
}
.boxy-wrapper .title-bar .close {
    color: white;
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 90%;
    line-height: 1;
}
.boxy-inner {
    background-color: white;
    padding: 0;
    text-align: center;
}
.boxy-content {
    padding: 15px;
}
.boxy-wrapper .question {
    width: 350px;
    min-height: 80px;
}
.boxy-wrapper .answers {
    text-align: center;
}
/**{padding: 0; margin: 0;}
#TB_window { font: 12px Arial, Helvetica, sans-serif;color: #333333;}
#TB_secondLine {font: 10px Arial, Helvetica, sans-serif;color:#666666;}*/

#TB_window a:link {
    color: #666666;
}
#TB_window a:visited {
    color: #666666;
}
#TB_window a:hover {
    color: #000;
}
#TB_window a:active {
    color: #666666;
}
#TB_window a:focus {
    color: #666666;
}
#TB_overlay {
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}
.TB_overlayMacFFBGHack {
    background: url(macFFBgHack.png) repeat;
}
.TB_overlayBG {
    background-color: #000;
    filter: alpha(opacity=75);
    -moz-opacity: 0.75;
    opacity: 0.75;
}
* html #TB_overlay {
    position: absolute;
    height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight: document.body.offsetHeight + 'px');
}
#TB_window {
    position: fixed;
    background: transparent;
    z-index: 1000;
    color: #000000;
    display: none;
    border: none;
    text-align: left;
    max-width: 510px;
    width: 100%;
    left: 50%;
    margin-left: -255px;
    top: 50px;
}
* html #TB_window {
    /* ie6 hack */
    
    position: absolute;
    margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}
#TB_window img#TB_Image {
    display: block;
    margin: 15px 0 0 15px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #666;
    border-left: 1px solid #666;
}
#TB_caption {
    height: 25px;
    padding: 7px 30px 10px 25px;
    float: left;
}
#TB_closeWindow {
    height: 25px;
    padding: 11px 25px 10px 0;
    float: right;
}
#TB_closeAjaxWindow {
    padding: 7px 10px 5px 0;
    margin-bottom: 1px;
    text-align: right;
    float: right;
}
#TB_ajaxWindowTitle {
    float: left;
    padding: 7px 0 5px 10px;
    margin-bottom: 1px;
}
#TB_title {
    background-color: #e8e8e8;
    height: 27px;
    display: none;
}
#TB_ajaxContent {
    clear: both;
    text-align: left;
    line-height: 1.4em;
    z-index: 102;
}
#TB_ajaxContent.TB_modal {
    padding: 15px;
}
#TB_ajaxContent p {} #TB_load {
    position: fixed;
    display: none;
    height: 13px;
    width: 208px;
    z-index: 103;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -104px;
}
* html #TB_load {
    /* ie6 hack */
    
    position: absolute;
    margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}
#TB_HideSelect {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    border: none;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
}
* html #TB_HideSelect {
    /* ie6 hack */
    
    position: absolute;
    height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight: document.body.offsetHeight + 'px');
}
#TB_iframeContent {
    clear: both;
    border: none;
    margin-bottom: -1px;
    margin-top: 1px;
    margin-bottom: 1px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}
.cd-top {
    display: inline-block;
    height: 55px;
    width: 40px;
    position: fixed;
    bottom: 175px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: url(../images/top_back.png) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
    border-radius: 5px;
    z-index: 10;
}
.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
    visibility: visible;
    opacity: 1;
}
.cd-top.cd-fade-out {
    opacity: 1;
}
#raty-id:after {
    content: "Nhấn vào đây để đánh giá";
}